.feedbackWidget {
    display: inline-block;
    padding: 16px 30px 16px 40px;
    min-height: 66px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -25px;
    background-color: var(--ifm-hover-overlay);
    text-align: center;
    color: var(--ifm-color-primary);
    line-height: 32px;
    font-weight: 700;
    border-radius: 0 var(--ifm-global-radius) var(--ifm-global-radius) 0;
}

.feedbackEmoji {
    font-size: 1.5em;
    margin: 0 0 0 6px;
    display: inline;
    white-space: nowrap;
}

.feedbackEmoji:hover,
.feedbackEmoji:focus {
    cursor: pointer;
    font-size: 1.65em;
    margin: -1.2px -1.2px -1.2px 4.8px;
}

.thumbsup {
    margin-left: 12px;
}

.thumbsup:hover,
.thumbsup:focus {
    margin: -1.2px -1.2px -1.2px 10.8px;
}

.thumbsdown {}

html[data-theme="dark"] .feedbackWidget {
    background-color: var(--ifm-hover-overlay);
    color: var(--ifm-color-primary);
}

@media only screen and (max-width: 996px) {
    .feedbackWidget {
        width: 100%;
        margin: 36px 0 0 !important;
        border-radius: var(--ifm-global-radius);
    }
}